<!DOCTYPE html>
<html>
  <head>
    <title>IJRL F1</title>
    <meta name="description" content="The official IJRL website."/>
    
    <link rel="icon" href="/assets/logo.png">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/unsemantic-grid-responsive-no-ie7.css">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
  </head>
  <body>
    <header class="header">
      <nav class="header-inner">
        <div class="header-shadow"></div>
        <a class="header-nav-item" href="/"><img src="/assets/logo.png" style="display: block; height: 70px; width:70px;" alt="logo"/></a>
        <a class="header-nav-item" href="/news">News</a>
        <a class="header-nav-item" href="/standings">Standings</a>
        <div class="header-nav-item btn-toggle" style="margin-left: auto;">
          <img class="theme-icon" src="/assets/sun.svg" style="margin: 0 auto; display: block; height: 20px; width:20px;" alt="theme"/>
        </div>
      </nav>
    </header>

    <div class="grid-container">
      <h1 class="grid-80 mobile-grid-80" style="font-size: 36px; padding-bottom: 5px; margin-bottom: 25px;">Season {{ page.season }} - Tier {{ page.tier }}</h1>
      
      <h3 class="grid-100 mobile-grid-100 content-heading" >WDC</h3>
      <div class="grid-100 mobile-grid-100" style = "background-color: #1791ba; position:relative; margin-bottom: 20px;">
        <img style="display:block; width:100%; height:auto;" src="/assets/transparent.png"/>
        <iframe
          src="{{ page.driverschamp }}"
          frameborder="0"
          style="position:absolute; top:0; left:0; width:100%; height:100%;"
          allowfullscreen>
        </iframe>
      </div>

      <h3 class="grid-100 mobile-grid-100 content-heading" >WCC</h3>
      <div class="grid-100 mobile-grid-100" style = "background-color: #1791ba; position:relative; margin-bottom: 20px;">
        <img style="display:block; width:100%; height:auto;" src="/assets/transparent.png"/>
        <iframe
          src="{{ page.constructorschamp }}"
          frameborder="0"
          style="position:absolute; top:0; left:0; width:100%; height:100%;"
          allowfullscreen>
        </iframe>
    </div>
        
    </div>

    <footer class="footer">
      <div class="footer-inner">
        <a class="footer-item" href="mailto:ijracingleague@gmail.com">Contact</a>
        <div class="footer-item" style="margin-left: auto;">
          <a href="https://discord.gg/H4s4p4cUF8"><img id="discordicon" src="assets/discord.svg" style="margin: 0 auto; display: block; height: 20px; width:20px; padding-right: 20px;" alt="discord"/></a>
          <a href="https://www.twitch.tv/ijrl"><img id="twitchicon" src="assets/twitch.svg" style="margin: 0 auto; display: block; height: 20px; width:20px; padding-right: 20px;" alt="twitch"/></a>
          <a href="https://www.youtube.com/channel/UCMMupnY0eRDCz1T8vA6UZvQ"><img id="youtubeicon" src="assets/youtube.svg" style="margin: 0 auto; display: block; height: 20px; width:20px; padding-right: 20px;" alt="youtube"/></a>
          <a href="https://www.tiktok.com/@ijrl_f1"><img id="tiktokicon" src="assets/tiktok.svg" style="margin: 0 auto; display: block; height: 20px; width:20px; padding-right: 20px;" alt="tiktok"/></a>
          <a href="https://twitter.com/IJRL_F1"><img id="twittericon" src="assets/twitter.svg" style="margin: 0 auto; display: block; height: 20px; width:20px;" alt="twitter"/></a>
        </div>
      </div>
      <div class="footer-inner" style="height: 20px; margin-bottom: 20px;">
        <p class="footer-item" style="display:block; margin-left: auto; margin-right:auto; height: 20px; line-height: 20px; font-size: 12px;">© 2022 IJRL. All Rights Reserved. - Designed By&nbsp;<a class="footer-item" style="display: inline-block; height: 20px; line-height: 20px; font-size: 12px; padding-left: 0px;" href="https://euandeas.com">Euan Deas</a></p>
      </div>
    </footer>
  </body>
  <script src="/scripts/theme.js"></script> 
</html>